# OpenWeatherMap - Ücretsiz: https://openweathermap.org/api
OPENWEATHER_API_KEY=buraya_kendi_keyini_yaz

# Amadeus Uçuş API - Ücretsiz sandbox: https://developers.amadeus.com
AMADEUS_API_KEY=buraya_kendi_keyini_yaz
AMADEUS_API_SECRET=buraya_kendi_secretini_yaz

# ExchangeRate - KEY GEREKMİYOR, otomatik çalışır
# GDACS Afet API - KEY GEREKMİYOR, otomatik çalışır
